<!DOCTYPE html>
<html>
<head>
  <title>Minha Agenda</title>
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/agenda.css">
</head>
<body>
    <div class="main-container">
      <!-- Seletor de Cidade -->
      <div class="city-filter">
        <label for="cidade">Escolha a cidade:</label>
        <select id="cidade">
            <option value="">Selecione uma cidade</option>
        </select>
      </div>
  
      <!-- Calendário -->
      <div id="calendar"></div>
    </div>
  
    <div id="modal" style="display:none;">
      <div id="modal-content">
          <h3>Adicionar/Editar Evento</h3>
          <form id="event-form">
              <label for="event-title">Título do evento:</label>
              <input type="text" id="event-title" required><br>
              
              <label for="event-city">Cidade:</label>
              <select id="event-city" required>
                  <option value="">Selecione uma cidade</option>
              </select><br>
              
              <label for="event-description">Descrição:</label>
              <textarea id="event-description"></textarea><br>
              
              <label for="start-time">Hora de início:</label>
              <input type="time" id="start-time" required><br>
              
              <label for="end-time">Hora de término:</label>
              <input type="time" id="end-time" required><br>
              
              <label for="event-color">Cor:</label>
              <input type="color" id="event-color" value="#3788d8"><br>
              
              <input class="btn btn-primary d-block" type="submit" value="Salvar evento">
          </form>
          <button class="btn btn-danger d-block" type="button" onclick="fecharModal()">Fechar</button>
      </div>
    </div>
  
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
    <script src="/static/js/scriptAgenda.js"></script>
  </body>
</html>
