<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Consumindo API</title>
</head>
<body>
  <h1>Lista de Clientes</h1>
  <ul id="lista-usuarios"></ul>
    <button id="btn-usuarios">Carregar Usuários</button>
    <form action="/clientes" method="GET"></form>

  <h2>Cadastrar Usuário</h2>
  <form id="form-usuario">
    <input type="text" id="nome" placeholder="Nome" required>
    <input type="email" id="email" placeholder="E-mail" required>
    <button type="submit">Enviar</button>
  </form>

  <script src="script.js"></script>
</body>
</html>
